[Unit]
Description=Sync desktop wallpapers from Google Photos
Wants=network-online.target
After=network-online.target

[Service]
Type=oneshot
WorkingDirectory={{ desktop_wallpapers_user_home }}
Environment=RCLONE_CONFIG={{ desktop_wallpapers_rclone_config_path }}
ExecStart=/usr/bin/rclone sync "{{ desktop_wallpapers_rclone_remote }}:album/{{ desktop_wallpapers_google_photos_album }}" "{{ desktop_wallpapers_directory }}"{% for arg in desktop_wallpapers_rclone_extra_args %} "{{ arg }}"{% endfor %}